.home
{
position:absolute;
color:#231f20;
text-align:left;
vertical-align:text-top;
font-size:16px;
font-family:Inter;
letter-spacing:-1.100000023841858px;
line-height:150px;
border-style:hidden;
outline:none;
width:49px;
} 

.shapewithtext
{

background-color:#e7dfd8;

}


.aboutme
{
position:absolute;
color:#231f20;
text-align:center;
vertical-align:text-top;
font-size:16px;
font-family:Inter;
letter-spacing:-1.100000023841858px;
line-height:150px;
border-style:hidden;
outline:none;
width:85px;
}