/* .home
{
position:absolute;
color:#231f20;
text-align:left;
vertical-align:text-top;
font-size:16px;
font-family:Inter;
letter-spacing:-1.100000023841858px;
line-height:150px;
border-style:hidden;
outline:none;
width:49px;
} 

.shapewithtext
{

background-color:#e7dfd8; 

}


.aboutme
{
position:absolute;
color:#231f20;
text-align:center;
vertical-align:text-top;
font-size:16px;
font-family:Inter;
letter-spacing:-1.100000023841858px;
line-height:150px;
border-style:hidden;
outline:none;
width:85px;
}  */




.barra_navegacion {
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-direction: row;
} 

nav a { 
    margin-right: 3rem ;
    text-decoration: none;
    color: inherit;
   

} 



.icono { 
    text-align: center ;

} 

body 
{ background-color: #e7dfd8;
    font-family: "Inter", sans-serif;
    

} 

.texto-e-imagen
{ display: flex;
    /* padding: 200px; */
    width: 100vw;
    justify-content: center;
    align-items: center;
    height: 70vh;
    
    }

.ancho-home
{ max-width: 500px;
    margin-right: 200px;
}




@media (max-width: 400px) {
    
    .barra_navegacion
     { 
        flex-direction: column; /* Cambia a diseño en columna en pantallas pequeñas */
        align-items: center; /* Centra los enlaces horizontalmente */
    }

    nav a {
        padding: 10px; /* Ajusta el padding si es necesario */
        width: 100%; /* Hace que cada enlace ocupe el ancho completo */
        text-align: center; /* Centra el texto dentro de los enlaces */
    }

    .texto-e-imagen
    { 
        flex-direction: column; /* Cambia a diseño en columna en pantallas pequeñas */
        align-items: center;
        width: auto;
        height: auto;

    }

    .ancho-home
    { margin-right: 0px;
    
    }

}

footer {
    position: absolute;
      bottom: 100;
      width: 95%;
      text-align: right; /* Alinea el texto del footer a la derecha */
      padding: 10px; /* Espacio interno opcional */
  }


  .text-aboutme
  { display: flex;
         /* padding: 0px;  */
      
      justify-content: left;
      align-items: left;

      }

.parrafo-aboutme  
{
    text-align: left; /* Alinea todo el texto dentro del body a la izquierda */
   width: 40%;
   text-align: justify;
    }



 .footer-bottom
 { position: absolute;
    bottom: 100;
    width: 95%;
    text-align: right; /* Alinea el texto del footer a la derecha */
     /* Espacio interno opcional */
}

.footer-about-me
{ text-align: right; /* Alinea el texto del footer a la derecha */
    padding: 100px; 
    width: 92%;
    bottom: 100;
    /* Espacio interno opcional */
     /* Color de fondo opcional */;
}
 

.foto-telered
{ display: grid;
      justify-content: end;
    width: 50%;
    text-align: right;
    display: block; /* Hace que la imagen se trate como un bloque */
    margin-left: auto; /* Empuja la imagen hacia la derecha */
    margin-right: 0; /* Asegura que no haya margen en el lado derecho */
    margin-top: -20%;
}
 
